*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ff794e;
}
#content2{
    padding-top: 150px;
    text-align: center;
}
#content3{
    padding-top: 170px;
    text-align: end;
    padding-right: 10px;
}

